<h1 class="text-black">Titulo 1</h1>
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="true" href="#">Informacion de Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ubicacion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contactanos</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6" >
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Email address</label>
                <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled>

              </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" >
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Email address</label>
                <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled>

              </div>

            </div>
            <div class="w-100"></div>

            <div class="col-lg-3 col-md-3 col-sm-3">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="w-100"></div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
          <div class="bottom-0 end-0 mb-3 me-3">
            <button class="btn btn-primary  " type="button">Button</button>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
