<div class="container">
  <div class="row">
      <div class="col">
          <div class="card w-100 h-100 col mb-3">

              <div class="card-body table-responsive display" >
                <h1>Proyectos</h1>
                <button type="button" class="btn btn-success m-2" data-bs-toggle="modal" data-bs-target="#editModal">Agregar +</button>
                  <div class="table-responsive">
                      <table class="table table-bordered">
                          <thead>
                              <tr>
                                  <th >Nombre</th>
                                  <th>Descripcion</th>
                                  <th>Repositorio</th>
                                  <th>Link de Repositorio</th>
                                  <th>Estado</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr class="collapse-row" data-bs-toggle="collapse" data-bs-target="#actions1">
                                  <td>Proyecto 1</td>
                                  <td>Proyecto dedicado a la gestion de pacientes en clinicas</td>
                                  <td>Github <img src="../../../../../assets/icons/c--4.svg"  class="table-icons" > </td>
                                  <td><p><a class="link-offset-1" href="#">github.com</a></p></td>
                                  <td><span class="badge text-bg-success">Terminado</span></td>

                              </tr>
                              <tr id="actions1" class="collapse">
                                  <td colspan="5">
                                      <div class="d-flex flex-column flex-md-row justify-content-between">
                                        <button class="btn btn-primary mr-3" data-bs-toggle="modal" data-bs-target="#editModal"><img src="../../../../../assets/icons/data_icons/edit.svg" ></button>
                                        <button class="btn btn-success mr-3"  data-bs-toggle="modal" data-bs-target="#viewModal"><img src="../../../../../assets/icons/data_icons/view.svg" class="table-icons"></button>
                                        <button class="btn btn-danger mr-3" data-bs-toggle="modal" data-bs-target="#deleteModal" ><img src="../../../../../assets/icons/data_icons/del.svg" class="table-icons"></button>
                                      </div>
                                  </td>
                              </tr>
                              <tr class="collapse-row" data-bs-toggle="collapse" data-bs-target="#actions2">
                                <td>Proyecto 1</td>
                                <td>Proyecto dedicado a la gestion de pacientes en clinicas</td>
                                <td>Github <img src="../../../../../assets/icons/c--4.svg"  class="table-icons" > </td>
                                <td><p><a class="link-offset-1" href="#">github.com</a></p></td>
                                <td><span class="badge text-bg-success">Terminado</span></td>

                              </tr>
                              <tr id="actions2" class="collapse">
                                  <td colspan="5">
                                      <div class="d-flex flex-column flex-md-row justify-content-between">
                                        <button class="btn btn-primary mr-3" data-bs-toggle="modal" data-bs-target="#editModal"><img src="../../../../../assets/icons/data_icons/edit.svg" ></button>
                                        <button class="btn btn-success mr-3"  data-bs-toggle="modal" data-bs-target="#viewModal"><img src="../../../../../assets/icons/data_icons/view.svg" class="table-icons"></button>
                                        <button class="btn btn-danger mr-3" data-bs-toggle="modal" data-bs-target="#deleteModal" ><img src="../../../../../assets/icons/data_icons/del.svg" class="table-icons"></button>
                                      </div>
                                  </td>
                              </tr>
                              <!-- Agrega más filas según sea necesario -->
                          </tbody>
                      </table>
                  </div>



              </div>
            </div>

      </div>

  </div>

</div>

      <!-- Edit Modal -->
      <div class="modal modal-lg fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Proyecto</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
              <div class="row">
                <div class="col-lg-12 mb-3">
                  <label for="exampleInputEmail1" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="col-lg-12 mb-3">
                  <label for="exampleInputEmail1" class="form-label">Descripcion</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="col-lg-6 mb-3">
                  <label for="exampleInputPassword1" class="form-label">Imagen de Portada</label>
                  <input type="file" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="col-lg-6 mb-3">
                  <label for="exampleInputEmail1" class="form-label">Repositorio</label>
                  <select class="form-select" aria-label="Default select example">
                    <option selected value="gt">Github</option>
                    <option value="gl">GitLab</option>
                  </select>
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="col-lg-12 mb-3">
                  <label for="exampleInputEmail1" class="form-label">Link</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>

              </div>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary">Guardar cambios</button>
            </div>
          </div>
        </div>
      </div>
  <!-- Delete Modal -->
      <div class="modal modal-lg fade" id="deleteModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Proyecto</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¿Esta seguro de eliminar el proyecto (Proyecto 1)?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
  <!---Check Modal -->
  <div class="modal modal-lg fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Proyecto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
          <div class="row">
            <div class="col-lg-12 mb-3">
              <label for="exampleInputEmail1" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="Nombre del Proyecto" disabled>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="col-lg-12 mb-3">
              <label for="exampleInputEmail1" class="form-label">Descripcion</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  value="Descripcion Breve del Proyecto" disabled>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="col-lg-6 mb-3">
              <label for="exampleInputPassword1" class="form-label">Imagen de Portada</label>
              <input type="file" class="form-control" id="exampleInputPassword1"  value="c:\" disabled>
            </div>
            <div class="col-lg-6 mb-3">
              <label for="exampleInputEmail1" class="form-label">Repositorio</label>
              <select class="form-select" aria-label="Default select example" disabled>
                <option selected value="gt">Github</option>
                <option value="gl">GitLab</option>
              </select>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="col-lg-12 mb-3">
              <label for="exampleInputEmail1" class="form-label">Link</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="www.google.com" disabled>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>

          </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>
