<div class="container">
  <div class="row">
      <div class="col">
          <div class="card w-100 h-100 col mb-3">

              <div class="card-body table-responsive display" >
                <h1>Experiencia</h1>
                <button (click)="setExperience(defaultExperience, ActionItems[0])" type="button" class="btn btn-success m-2" data-bs-toggle="modal" data-bs-target="#createModal">Agregar +</button>

                  <div class="table-responsive">
                      <table mat-table [dataSource]="this.listExperience" >
                        @for (column of columndefs; track column) {

                            <ng-container matColumnDef="{{column}}">
                              <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                              <td  mat-cell *matCellDef="let element">
                                @if(column === 'state'){
                                  <beat-badge [status]="element[column]" type="Project"></beat-badge>
                                }
                                @else if(column === 'actions'){
                                  @for (action of ActionItems; track $index) {
                                    <!-- <admin-experience-modal [modalComponent]="ActionItems[$index]"></admin-experience-modal> -->
                                    @if(ActionItems[$index].typeAction !== 'create'){
                                      <button (click)="setExperience(element, ActionItems[$index])" [className]="'btn btn-outline-' + ActionItems[$index].color +' text-bg-' + ActionItems[$index].color + ' modal-button'"  data-bs-toggle="modal" [attr.data-bs-target]="'#' + ActionItems[$index].typeAction + 'Modal'"><img [src]="'../../../../../assets/icons/data_icons/' + ActionItems[$index].typeAction + '.svg'" class="table-icons"></button>
                                    }

                                  }

                                }
                                @else{
                                  {{element[column]}}
                                }

                              </td>
                            </ng-container>


                        }



                        <tr mat-header-row *matHeaderRowDef="this.columndefs"></tr>
                        <tr mat-row *matRowDef="let row; columns: this.columndefs;"></tr>


                      </table>
                  </div>



              </div>
            </div>

      </div>

  </div>

</div>
@for (action of ActionItems; track $index) {
  <admin-experience-modal  [modalComponent]="ActionItems[$index]" [experience]="this.experience" (updateExperiences)="setExperienceList($event)"></admin-experience-modal>
}
