<div class="container">
  <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="card w-100 mb-3">
              <div class="card-header d-flex justify-content-between align-items-center">
                  <h5 class="card-title">Experiencia</h5>
                  <span class="badge rounded-pill text-bg-primary">2024</span>
              </div>
              <div class="card-body d-flex justify-content-between align-items-center">
                <div class="row">
                  <div class="col-lg-6 mb-3">
                    <label for="Name" class="form-label">Nombre</label>
                    <input class="form-control" type="text" id="Name" >
                  </div>
                  <div class="col-lg-6 mb-3">
                    <label for="LastName" class="form-label">Apellido</label>
                    <input class="form-control" type="text" id="LastName" >
                  </div>
                  <div class="col-lg-6 mb-3">
                    <label for="Email" class="form-label">Email</label>
                    <input class="form-control" type="email" id="Email" >
                  </div>
                  <div class="col-lg-6 mb-3">
                    <label for="Username" class="form-label">Username</label>
                    <input class="form-control" type="text" id="Username" >
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="card w-100 mb-3">
              <div class="card-header d-flex justify-content-between align-items-center">
                  <h5 class="card-title">Portada</h5>
                  <!-- <span class="badge rounded-pill text-bg-primary">2024</span> -->
              </div>
              <div class="card-body d-flex justify-content-between align-items-center">
                <div class="row">
                  <div class="col-lg-12 mb-3">
                    <img src="../../../../../assets/img/loader.svg" >
                  </div>
                  <div class="col-lg-12 mb-3">
                    <label for="profileImage" class="form-label">Imagen de Portada</label>
                    <input class="form-control" type="file" id="profileImage" disabled>
                  </div>
                </div>

              </div>
            </div>

      </div>
  </div>
  <div class="row">
      <div class="col-12 ">
          <div class="card w-100  mb-3">
              <div class="card-header d-flex justify-content-between align-items-center">
                  <h5 class="card-title">Cambio de Contraseña</h5>
                  <span class="badge rounded-pill text-bg-primary">Actualizada Recientemente</span>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6 mb-3">
                    <label for="Password" class="form-label">Contraseña Actual</label>
                    <input class="form-control" type="text" id="Password" >
                  </div>
                  <div class="col-lg-6 mb-3">
                    <label for="NewPassword" class="form-label">Nueva Contraseña</label>
                    <input class="form-control" type="text" id="NewPassword" >
                  </div>
                  <div class="col-lg-6 mb-3">
                    <label for="NewPasswordConfirm" class="form-label">Confirmar Nueva Contraseña</label>
                    <input class="form-control" type="text" id="NewPasswordConfirm" >
                  </div>
                </div>

              </div>
            </div>


      </div>
  </div>

</div>
