<div class="row justify-content-center">
    <div class="col col-12 col-md-6 d-flex justify-content-center">
      <div class="card" style="width: 30rem;">
        <div class="card-header">
          Login
        </div>
        <div class="card-body">
          <form [formGroup]="formLogin" (ngSubmit)="logIn()" >
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" formControlName="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <span *ngIf="isValidField('Email')" class="form-text text-danger">
                Email sin formato correcto
              </span>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" formControlName="Password" class="form-control" id="exampleInputPassword1">
              <span *ngIf="isValidField('Password')" class="form-text text-danger">
                Email sin formato correcto
              </span>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
            </div>
            <button  class="btn btn-primary">Iniciar Sesion</button>


          </form>
          <div class="mb-3 f d-flex justify-content-end">
            <!-- <a href="/auth/sign-up">Registro</a> -->
            <a  class="btn btn-info" href="auth/sign-up">Registro</a>
          </div>
        <!-- <div class="card-footer text-body-secondary">
          2 days ago
        </div> -->
      </div>
    </div>
</div>
