
  <div class="modal-login">
    <div class="card" style="width: 30rem;">
      <div class="card-header">
        Login
      </div>
      <div class="card-body">
        <form [formGroup]="FormVerifyLogin" (ngSubmit)="submit()" >
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" formControlName="Verify_Email"  class="form-control" id="verify_Email" aria-describedby="emailHelp">
            <span *ngIf="validatorUtilities.isValidField('Verify_Email')" class="form-text text-danger">
              {{validatorUtilities.getFieldError('Verify_Email')}}
            </span>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" formControlName="Verify_Password"  class="form-control" id="verify_Password">
            <span *ngIf="validatorUtilities.isValidField('Verify_Password')" class="form-text text-danger">
              {{validatorUtilities.getFieldError('Verify_Password')}}
            </span>
          </div>
          <button   [ngClass]="{'disabled' : !this.FormVerifyLogin.valid}" class="btn btn-primary"  >Iniciar Sesion</button>

        </form>

      <!-- <div class="card-footer text-body-secondary">
        2 days ago
      </div> -->
    </div>
  </div>




