<div class="container">
  <nav class="navbar navbar-light navbar-expand-lg ftco-navbar ftco-navbar-light fixed-top" id="ftco-navbar" #navbar>
              <div class="container">
                  <a class="navbar-brand" href="index.html">DropServer</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="fa fa-bars"></span> Menu
                  </button>
                  <div class="collapse navbar-collapse" id="ftco-nav">
                      <ul class="navbar-nav ml-auto mr-md-3">
                        <li class="nav-item" *ngFor="let item of menuItems" >
                          <a [routerLink]="[item.route]" [routerLinkActive]="['active']" class="nav-link">{{item.label}}</a>
                        </li>

                      </ul>
                  </div>
              </div>
  </nav>
</div>
