<h1 class="text-black">Portafolio</h1>
<beat-project-item></beat-project-item>
<!-- <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
      <mat-card class="brief-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>code</mat-icon>
          <mat-card-title>EFoodies</mat-card-title>
          <mat-card-subtitle>.NET MVC</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/icons/icon-web-purple.svg" alt="Project Image">
        <mat-card-content  class="h-50">
          <br>
          <p>
            Sistema de administracion para restaurantes desarrollado
            con .NET Core MVC.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="mr-3" mat-flat-button disabled color="primary">Rep. Privado</button>
          <button mat-button  color="primary">Informacion</button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
      <mat-card class="brief-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>code</mat-icon>
          <mat-card-title>GET Platform</mat-card-title>
          <mat-card-subtitle>.NET MVC</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/icons/icon-web-purple.svg" alt="Project Image">
        <mat-card-content  class="h-50">
          <hr>

            <p>
              Sistema de administracion para campamentos de trabajo
              en EUA desarrollado con .NET Core MVC y SQL Server.
            </p>

        </mat-card-content>
        <mat-card-actions>
          <button class="mr-3" mat-flat-button disabled color="primary">Rep. Privado</button>
          <button mat-button  color="primary">Informacion</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
      <mat-card class="brief-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>code</mat-icon>
          <mat-card-title>TINISA</mat-card-title>
          <mat-card-subtitle>.NET MVC</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/icons/icon-web-purple.svg" alt="Project Image">
        <mat-card-content  class="h-50">
          <br>
          <p>
            Sistema de facturacion y administracion de viajes y recursos para la transportista
            TINISA desarrollado con .NET MVC, .NET API y SQL Server.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="mr-3" mat-flat-button disabled color="primary">Rep. Privado</button>
          <button mat-button  color="primary">Informacion</button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
      <mat-card class="brief-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>code</mat-icon>
          <mat-card-title>SIDS</mat-card-title>
          <mat-card-subtitle>.NET MVC</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/icons/icon-web-purple.svg" alt="Project Image">
        <mat-card-content  class="h-50">
          <br>
          <p>
            Sistema de administracion para restaurantes desarrollado
            con .NET Core MVC.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="mr-3" mat-flat-button disabled color="primary">Rep. Privado</button>
          <button mat-button  color="primary">Informacion</button>
        </mat-card-actions>
      </mat-card>


    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
      <mat-card class="brief-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>code</mat-icon>
          <mat-card-title>Sticky Notes</mat-card-title>
          <mat-card-subtitle>Android</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/icons/icon-web-purple.svg" alt="Project Image">
        <mat-card-content  class="h-50">
          <br>
          <p>
            Aplicacion movil para envio de notas para parejas
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="mr-3" mat-flat-button  color="primary">Rep. Pendiente</button>
          <button mat-button  color="primary">Informacion</button>
        </mat-card-actions>
      </mat-card>



    </div>


</div> -->
