<button [className]="'btn btn-outline-' + modalComponent.color +' text-bg-' + modalComponent.color + ' modal-button'"  data-bs-toggle="modal" [attr.data-bs-target]="'#' + modalComponent.typeAction + 'Modal'"><img [src]="'../../../../../assets/icons/data_icons/' + modalComponent.typeAction + '.svg'" class="table-icons"></button>

  <!-- Edit Modal -->
      <div class="modal modal-lg fade" [id]="modalComponent.typeAction + 'Modal'" tabindex="-1" [attr.aria-labelledby]=" modalComponent.typeAction + 'editModalLabel'" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">{{modalComponent.genericTag}} Proyecto</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form   autocomplete="off">
              <div class="row">
                <div class="col-lg-12 mb-3">
                  <label for="Name" class="form-label">Nombre</label>
                  <input type="text" class="form-control" formControlName="name" id="Name" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="col-lg-12 mb-3">
                  <label for="Description" class="form-label">Descripcion</label>
                  <input type="text" class="form-control" formControlName="description" id="Description" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
              </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cerrar</button>
              <button type="button" class="btn btn-primary" [ngClass]="{'disabled' : false}" data-bs-dismiss="modal" >Guardar cambios</button>
            </div>
          </div>
        </div>
      </div>
  <!-- Delete Modal -->
      <!-- <div class="modal modal-lg fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Proyecto</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¿Esta seguro de eliminar el proyecto (Proyecto 1)?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary">Eliminar</button>
            </div>
          </div>
        </div>
      </div> -->
  <!---Check Modal -->
    <!-- <div class="modal modal-lg fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Proyecto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
            <div class="row">
              <div class="col-lg-12 mb-3">
                <label for="exampleInputEmail1" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="Nombre del Proyecto" disabled>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="col-lg-12 mb-3">
                <label for="exampleInputEmail1" class="form-label">Descripcion</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  value="Descripcion Breve del Proyecto" disabled>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
            </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Guardar cambios</button>
          </div>
        </div>
      </div>
    </div> -->
