<div class="row justify-content-center">
  <div class="col  justify-content-center">
    <div class="card" >
      <div class="card-header">
        Reset Password
      </div>
      <div class="card-body">
        <form>
          <div class="row">

              <p class="card-title"><strong>Coloque el codigo que le llego via SMS</strong></p>

            <div class="col-lg-3 mb-3">
              <label for="exampleInputEmail1" class="form-label">Clave</label>
              <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

          </div>
          <button type="submit" class="btn btn-primary">Verificar</button>
        </form>
      </div>
      <!-- <div class="card-footer text-body-secondary">
        2 days ago
      </div> -->
    </div>
  </div>
</div>
