<ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="web-title fw-bold">Cisco R&S</div>
      <strong class="web-text">Tareas realizadas:</strong>
      <p class="web-text">
        Participación en el curso Cisco R&S: Introduction to Networks
      </p>
    </div>
    <span class="badge text-bg-primary">May 2019</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="web-title fw-bold">Imparticion de Talleres</div>
      <strong class="web-text">Tareas realizadas:</strong>
      <p class="web-text">
        Practicipacion impartiendo el taller “Desarrollo movil con flutter y
        consumo de Web Service” en el Instituto Tecnologico Superior de
        Acatlan de Osorio.
      </p>
    </div>
    <span class="badge text-bg-primary">Abr 2022</span>
  </li>
</ol>
