<beat-nav-bar></beat-nav-bar>

<div class="container mt-5 mb-5  pt-5">
  <router-outlet></router-outlet>
</div>
<!-- <section id="home">
      <div class="container mt-5 mb-5 pb-5 pt-5">
          <h1 class="text-black">Titulo 1</h1>
          <div class="row ">
              <div class="col">
                  <div class="card h-auto">
                      <div class="card-header">
                        Featured
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
              </div>
          </div>

          <div class="row">
              <div class="col">
                  <div class="card" style="width: 100%; height: 400px;">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                      </div>
                    </div>
              </div>
              <div class="col">
                  <div class="card" style="width: 100%;  height: 400px;">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                      </div>
                    </div>
              </div>
          </div>


      </div>
</section>

<section id="briefCase" class="">

      <div class="container mt-5 mb-5 pb-5 pt-5">
        <h1 class="text-black">Titulo 1</h1>
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                <div class="card" >
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>

              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                <div class="card" >
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
          </div>
      </div>
</section>

<section id="contact" class="">
      <div class="container mt-5 mb-5 pb-5 pt-5">
        <h1 class="text-black">Titulo 1</h1>
        <div class="row">
          <div class="col">
            <div class="card text-center">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#">Informacion de Contacto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Ubicacion</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contactanos</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6" >
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput2" class="form-label">Email address</label>
                        <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled>

                      </div>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6" >
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput2" class="form-label">Email address</label>
                        <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled>

                      </div>

                    </div>
                    <div class="w-100"></div>

                    <div class="col-lg-3 col-md-3 col-sm-3">
                      <label for="exampleFormControlInput1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                      <label for="exampleFormControlInput1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                  <div class="w-100"></div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="mb-3">
                      <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="bottom-0 end-0 mb-3 me-3">
                    <button class="btn btn-primary  " type="button">Button</button>
                  </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section> -->

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 DropServer, Inc</p>
  </footer>
</div>
