<h1 class="text-black">Curriculum</h1>

<div class="row ">
    <div class="col">
          <div class="card mb-3 custom-border" >
            <div class="row g-0">

              <div class="col">
                <div class="card-body">
                  <h2 class="card-title">Informacion Personal</h2>
                  <p class="card-text"><strong>Nombre: </strong>Jose Uriel Rodriguez Ramirez</p>
                  <p class="card-text"><strong>Ubicacion: </strong>Xochitlan Todos Santos, Puebla, Mexico</p>
                  <p class="card-text"><strong>Titulo: </strong>Ingenieria en Gestion y Desarrollo de Software</p>

                  <h2 class="card-title">Informacion de Contacto</h2>
                  <beat-profile-button></beat-profile-button>
                </div>
              </div>

            </div>
          </div>

    </div>
</div>

<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card custom-border">
            <div class="card-body">
              <h2 class="card-title">Experiencia</h2>
            <beat-accordion-item [accordionItems]="experienceItems" ></beat-accordion-item>
            </div>
          </div>
    </div>


    <div class="col-md-6 mb-3">
      <div class="card mb-3 custom-border" >
        <div class="row g-0">
          <div class="col">
            <div class="card-body">
              <h2 class="card-title">Certificaciones</h2>
                  <!-- <p class="card-text">
                    Texto sobre idiomas manejados
                  </p> -->
                  <beat-viewer-item></beat-viewer-item>


          </div>
          </div>

        </div>
      </div>
    </div>
</div>

<div class="row ">
  <div class="col">
        <div class="card mb-3 custom-border" >
          <div class="row g-0">
            <div class="col">
              <div class="card-body">
                <h2 class="card-title">Tecnologia</h2>
                <p class="card-text">
                  Creo que no tenemos un indice sobre que tanto sabemos
                  sobre una tecnologia pero podemos hacernos una idea con
                  nuestros proyectos y experiencias.
                </p>

                <beat-tab-item></beat-tab-item>

              </div>
            </div>

          </div>
        </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mb-3">
    <div class="card mb-3 custom-border" >
      <div class="row g-0">
        <div class="col">
          <div class="card-body">
            <h2 class="card-title">Idiomas</h2>
                <p class="card-text">
                  Como hablante y escucha tengo que pulir algunas cosas
                  pero en la lectura me siento bastante familiarizado.
                </p>

                <div class="col mt-3">
                  <strong><p class="card-text">Español</p></strong>
                  <mat-progress-bar
                    class="example-margin"
                    [value]="100"
                    [bufferValue]="100">
                  </mat-progress-bar>
                </div>

                <div class="col mt-3">
                  <strong><p class="card-text">Ingles</p></strong>
                  <mat-progress-bar
                    class="example-margin"
                    [value]="50"
                    [bufferValue]="75">
                  </mat-progress-bar>
                </div>

        </div>
        </div>

      </div>
    </div>
    <div class="card mb-3 custom-border" >
      <div class="row g-0">
        <div class="col">
          <div class="card-body">
            <h2 class="card-title">Educacion</h2>
                <p class="card-text">
                  Los titulos aun los tengo en tramite
                </p>
                <beat-accordion-item [accordionItems]="educationItems" ></beat-accordion-item>


        </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <div class="card custom-border" >
        <div class="card-body">
          <h2 class="card-title">Participaciones</h2>
          <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="web-title fw-bold">Cisco R&S</div>
                <strong class="web-text">Tareas realizadas:</strong>
                <p class="web-text">
                  Participación en el curso Cisco R&S: Introduction to Networks
                </p>
              </div>
              <span class="badge text-bg-primary">May 2019</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="web-title fw-bold">Imparticion de Talleres</div>
                <strong class="web-text">Tareas realizadas:</strong>
                <p class="web-text">
                  Practicipacion impartiendo el taller “Desarrollo movil con flutter y
                  consumo de Web Service” en el Instituto Tecnologico Superior de
                  Acatlan de Osorio.
                </p>
              </div>
              <span class="badge text-bg-primary">Abr 2022</span>
            </li>
          </ol>

        </div>
      </div>
</div>

</div>
