<mat-accordion>
  <!--TODO: Cambiar el item expandido por el mas reciente--->
  <mat-expansion-panel *ngFor="let item of accordionItems; let i = index" [expanded]="i === 0" >
    <mat-expansion-panel-header>
      <mat-panel-title class="web-title fw-bold">
        {{item.Title}}
      </mat-panel-title>
      <mat-panel-description>
        <!--TODO: Que los pipes sean mas centralizados para no repetir codigo--->
        <!--TODO: Que las fechas intercambien entre ingles y español--->
        {{item.StartDate | date:'MMM yyyy'}} - {{item.FinalDate | date:'MMM yyyy'}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>
      {{item.Description}}
    </p>
  </mat-expansion-panel>


  <!-- <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title class="web-title fw-bold">
        H. Ayuntamiento
      </mat-panel-title>
      <mat-panel-description>
        May 2020- Ago 2020
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>
      Analisis y toma de requerimientos para definicion
      de alcances para el proyecto en el Honorable Ayuntamiento de Tecamachalco.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        TICAS
      </mat-panel-title>
      <mat-panel-description>
        Ago 2021 - Abr 2022
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Desarrollo de plataformas para la administracion de
        restaurantes, pedidos en linea desarrollados en NET CORE para aplicaciones web
        y Flutter para aplicaciones moviles ademas de brindar soporte a sistemas web
        de Instituciones educativas.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Xhofhox
      </mat-panel-title>
      <mat-panel-description>
        Oct 2021 - Oct 2022
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Desarrollo para plataformas web de administracion de
      campamentos en EUA y la gestion de agendas personales
      y profesionales con aplicaciones web.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Softtek
      </mat-panel-title>
      <mat-panel-description>
        Nov 2022 - Actual
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Soporte y desarrollo de aplicaciones web internas para la gestion de inmuebles y proveedores
        para empresas de tienda a nivel nacional.
    </p>
  </mat-expansion-panel> -->

</mat-accordion>
